<div class="container">
  <%= render "form" , form_name: params[:action].capitalize %>
</div>
<section class="row text-center cities-controls">
    <a href="<%= notebooks_path %>" class="btn btn-default"> Return my Notebook's </a>
</section>
