<div class="container">
  <article class="">
    <ul class="table-results">
      <div class="result-row">
        <li class="results-cell result-aling result-title"><%= @notebook.name %></li>
      </div>
      <% if current_user %>
      <div class="result-row text-center">
        <li class="results-cell"><a href="<%= notebook_path(@notebook.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
      </div>
      <% end %>
    </ul>
  </article>
</div>
<section class="row text-center cities-controls">
    <a href="<%= notebooks_path %>" class="btn btn-default"> Return my Notebook's </a>
</section>
